body {
    background-color: #090909;
}

#logo {
    padding: 15px;
    transition: transform 0.9s; 
}

#logo:hover {
    transform: rotateY(360deg)
}

.title {
    font-family: 'Chakra Petch', sans-serif;
    padding: 10px;
    color: #E9C7B1;
    -webkit-background-clip: text;
    font-size: 48px;
}

.title_block {
    background-image: linear-gradient(to right, #1C001E, #44000B);
    border-radius: 5px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-family: 'Chakra Petch', sans-serif;
    padding: 10px;
    color: #E9C7B1;
    -webkit-background-clip: text;
    font-size: 48px;
}

.navigation {
    display: flex;
    align-items: center;
    margin-left: auto; 
    padding: 0 20px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#alst {
    text-decoration: none;
    color: aliceblue;
    padding: 40px;
    transition: transform 0.5s;

}

#alst:hover {
    text-decoration: underline;
    transform: scale(1.07);
}




.div1 {
    display: flex; 
}

#ecom_img {
    padding: 30px 90px; 
    animation: fadeIn 5s ease-in;
}

#tag_line {
    font-family: 'Chakra Petch', sans-serif;
    padding: 10px;
    color: aliceblue;
    padding: 30px;
    padding-left: 50px ;
    padding-top: 50px;
}

#tag_line h1 {
    font-size: 50px;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#tag_line p{
    font-size: 23px;
}

.box {
    background-color: #090909;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.prd1, .prd2, .prd3 {
    opacity: 0.5;
    font-family: 'Chakra Petch', sans-serif;
    color: aliceblue;
    border-radius: 10px;
    padding: 30px;
    background-color: #2D2D2D;
    background: linear-gradient(to right, #1C001E, #44000B);
    width: 750px;
    margin-bottom: 20px;
    transition: opacity 0.3s, background-color 0.5s, transform 0.3s, box-shadow 0.3s; /* Added transform and box-shadow for animation */
}

.prd1:hover, .prd2:hover, .prd3:hover {
    opacity: 1;
    box-shadow: 0 4px 10px rgba(88, 83, 83, 0.2);
    transform: scale(1.02); /* Scale up by 5% on hover */
}


.prd1 ul,
.prd2 ul,
.prd3 ul {
    font-size: 24px; /* Increase the font size */
    line-height: 1.6; /* Increase the line height for better readability */
}

.prd1 h1,
.prd2 h1,
.prd3 h1 {
    font-size: 36px; /* Increase the font size for the headings */
}

.prd1,.prd2 ,.prd3{
    width: 100%;
    display: flex;
  
    justify-content: space-between; /* Adjust the spacing */
}

#retailer,
#buyer,
#premium {
    height: 400px;
    width: 400px;
}

#for_ret{
    font-size: 20px;
}

.prd1:hover img, .prd2:hover img, .prd3:hover img {
    transform: translateY(-10px); /* Adjust the vertical distance as needed */
    transition: transform 0.5s ease-in-out; /* Add a smooth transition for the floating effect */
}
